.root {
	li {
		display: inline-flex;

		a {
			display: inline-flex;
			justify-content: center;
			align-items: center;
			color: #fe5f1e;
			width: 45px;
			height: 45px;
			border: 1px solid #fe5f1e;
			border-radius: 30px;
			cursor: pointer;
			margin-right: 10px;

			&:hover {
				background-color: #fe5f1e;
				color: #fff;
			}
		}
	}
	:global {
		.selected {
			a {
				background-color: #fe5f1e;
				color: #fff;
			}
		}
	}
}
